<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DJChatIO</title>
    <link href="/static/club.css" rel="stylesheet">
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/djchatio.js"></script>
  </head>
  <body>
      <h1>DJChatIO</h1>
      <div id="chat">
          <div id="messages">
              <p>Online:</p>
              <ul id="nicknames">
              </ul>
              <div id="lines"></div>
          </div>
          <div>
              <input id="message">
              <button id=send>Send</button>
          </div>
      </div>
  </body>
</html>
